<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <servers>
      <server>
        <id>nexus-release-repository</id>
        <username>admin</username>
        <password>admin123</password>
      </server>
    </servers>
    <profiles>
      <profile>
          <id>sonar</id>
          <activation>
              <activeByDefault>true</activeByDefault>
          </activation>
          <properties>
              <sonar.jdbc.url>
                jdbc:h2://${JENKINSNEXUSSONARDOCKER_SONAR_1_PORT_9092_TCP_ADDR}:${JENKINSNEXUSSONARDOCKER_SONAR_1_PORT_9092_TCP_PORT}/sonar
              </sonar.jdbc.url>
              <sonar.jdbc.username>sonar</sonar.jdbc.username>
              <sonar.jdbc.password>sonar</sonar.jdbc.password>
              <sonar.jdbc.driverClassName>org.h2.Driver</sonar.jdbc.driverClassName>
              <!-- Optional URL to server. Default value is http://localhost:9000 -->
              <sonar.host.url>http://${JENKINSNEXUSSONARDOCKER_SONAR_1_PORT_9000_TCP_ADDR}:${JENKINSNEXUSSONARDOCKER_SONAR_1_PORT_9000_TCP_PORT}</sonar.host.url>
          </properties>
      </profile>
        </profiles>
    <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
   </activeProfiles>
    <mirrors>
      <mirror>
      <!--This sends everything else to /public -->
        <id>nexus</id>
        <mirrorOf>external:*,!sonar</mirrorOf>
      <!-- your address may differ: -->
        <url>http://${JENKINSNEXUSSONARDOCKER_NEXUS_1_PORT_8081_TCP_ADDR}:${JENKINSNEXUSSONARDOCKER_NEXUS_1_PORT_8081_TCP_PORT}/nexus/content/groups/public</url>
      </mirror>
    </mirrors>

</settings>

